<?php

return [
    'class' => 'yii\db\Connection',
    'dsn' => 'mysql:host=localhost;dbname=wings_back',
    'username' => 'wings_back',
    'password' => 'change-me',
    'charset' => 'utf8mb4',
];
